/* styles.module.css */

.main {
    position: relative;
    background-image: url('/images/pattern.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #e1dab8;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(148, 146, 69);
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;

}

.title:hover {
    color: rgb(181, 167, 46);
    font-style: italic;
    transform: scaleX(1.1) scaleY(1.1);
    transition: all .2s;
    text-decoration: underline rgb(226, 199, 23);
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: rgb(226, 199, 23);
}

.logoutButton {
    background-color: #a87f4e;
    color: rgb(245, 245, 245);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
}

.logoutButton:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background: linear-gradient(to left, rgb(49, 156, 185), rgb(238, 77, 8));
    background-position: 10% center;
    background-size: 200%;
}