/* styles.module.css */

.main {
    position: relative;
    background-image: url('/images/pattern.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #e1dab8;
    text-align: center;
    margin-top: 0;
    padding: 5px;
    background-color: rgb(148, 146, 69);
    position: fixed;
    top: 0;
    width: 90%;
    height: 50px;
}

.title:hover {
    color: rgb(181, 167, 46);
    transform: scaleX(1.1) scaleY(1.1);
    transition: all .2s;
}

.links {
    list-style-type: none;
    display: flex;
    margin-top: 100px;
    margin-bottom: 70px;
    gap: 100px;

}

.links li {
    border: solid 5px rgb(203, 99, 34);
    padding: 5px;
    border-radius: 40px;

    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.links a:hover {
    color: rgb(64, 26, 7);
    transition: all .5s;
}

.description {
    color: rgb(64, 26, 7);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.logoutButton {
    background-color: #a87f4e;
    color: rgb(245, 245, 245);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
}

.logoutButton:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background: linear-gradient(to left, rgb(49, 156, 185), rgb(238, 77, 8));
    background-position: 10% center;
    background-size: 200%;
}