/* styles.module.css */

.main {
    position: relative;
    color: white;
    background-image: url('/images/pattern.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    text-align: center;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    /* Adicionando um fundo transparente */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* Adicionando efeito de desfoque */
}

.inputContainer {
    margin-bottom: 20px;
}

.input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.button {
    background-color: #a87f4e;
    color: rgb(245, 245, 245);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.button:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background: linear-gradient(to left, rgb(49, 156, 185), rgb(238, 77, 8));
    background-position: 10% center;
    background-size: 200%;
    ;
}

.hotel {
    margin-top: 20px;
    /* Movido o margin-top para centralizar o hotel verticalmente */
}