/* styles.module.css */

.main {
    position: relative;
    color: white;
    background-image: url('/images/pattern.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    text-align: center;
}

.buttonContainer {
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



.buttonLogin {
    background-color: #a87f4e;
    color: rgb(245, 245, 245);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.buttonLogin:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background: linear-gradient(to right, rgb(119, 165, 70), rgb(65, 183, 138));
    background-position: 0% center;
    background-size: 200%;
}

.buttonRegister {
    background-color: #a87f4e;
    color: rgb(245, 245, 245);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.buttonRegister:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background: linear-gradient(to right, rgb(119, 165, 70), rgb(65, 183, 138));
    background-position: 0% center;
    background-size: 200%;

}